<html>

<head>
    <title>What next?</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/sigma.min.js"
        integrity="sha256-ii2D7w2jthCadZtIl2OjRn2vu1iEtGWcOrmd+UOZorc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.parsers.gexf.min.js"
        integrity="sha256-axtL70i9hfG/v4VW5dLBdU79LOehACwFm6DWCVrWSH4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <style type="text/css">
        #network-chart {
            max-width: 800px;
            height: 400px;
            margin: auto;
        }
    </style>
</head>

<body>
    <div>
        <label>List some technologies you know:</label>
        <input type="text" id="searchBar">
        <button id="displayGraphButton">Click me!</button>
    </div>
    <div id="results">
    </div>
    <script>
        $("#displayGraphButton").click(function(){
            var terms = document.getElementById("searchBar").value;
            console.log(terms);
            $.ajax({
                type: 'POST',
                url: '/',
                data: {'terms':terms},
                success: function (result) {
                    console.log(result['answer']);
                    var counter;
                    var techNames = '';
                    for (counter=0; counter<result.answer.length;counter++){
                        techNames += result.answer[counter] + "<br>";
                    }
                    $("#results").html(techNames);
                }
            });
        });
    </script>
</body>

</html>