<html>
<head>
    <title>What next?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/springy/2.8.0/springy.min.js" integrity="sha256-WmPKL3JQrpEu+5WvCq526urQCByODLWxLk4hLTZdzA0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/springy/2.8.0/springyui.min.js" integrity="sha256-p9lwSD4M2dEw39+oiqJdXwnrWKgUPUg63X4fTaA28Ck=" crossorigin="anonymous"></script>
    <link href="/static/css/whatnext_style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3 class="margin-base-vertical text-center">Enter a few technologies that you know</h3>
                <input type="text" id="searchBar" class="form-control input-lg" name="number" placeholder="Enter comma separated technologies you know" required>

                <p class="text-center top-space-10">
                    <button class="btn btn-success btn-lg" id="displayGraphButton">What do I learn next?</button>
                </p>
                <p class="text-center top-space-20">
                    &nbsp;
                </p>
            </div>
        </div>
    </div>
    <script>
        $("#displayGraphButton").click(function(){
            var validValue = true;
            var letters = /^([a-z,A-Z0-9 _-]+)$/
            if (document.contains(document.getElementById("springyGraph"))) {
                document.getElementById("springyGraph").remove();}
            var searchBar = $("#searchBar").val();
            var canvas = document.createElement("canvas");
            canvas.id = "springyGraph";
            canvas.width = 0.5*window.innerWidth;
            canvas.height = 0.5*canvas.width;
            document.body.appendChild(canvas);
            var terms = document.getElementById("searchBar").value;
            var graph = new Springy.Graph();
            var isValid = letters.test(searchBar)
            if(!isValid){
                $("#string").remove();
                $("#searchBar").after('<span id="string" style="color:red">Please enter a valid string</span>')
                validValue = false
            }
            if (validValue == true){
            $.ajax({
                type: 'POST',
                url: '/',
                data: {'terms':terms},
                success: function (result) {
                    console.log(result['graph']);
                    graph.loadJSON(result['graph']);
                    springy = jQuery('#springyGraph').springy({graph: graph});
                }
            });
            }
        });
    </script>
</body>
</html>